.hero {
  border: 1px solid var(--mantine-color-bright);
  box-shadow: 5px 5px 0px 0px var(--mantine-color-bright);
  background-color: var(--mantine-color-body);
  padding: 24px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

[data-mantine-color-scheme="dark"] .hero {
  border-color: var(--mantine-color-body);
  box-shadow: 5px 5px 0px 0px var(--mantine-color-body);
  background-color: var(--mantine-color-dark-7);
}

.title {
  font-size: 2.25rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  line-height: 1.1;
  color: var(--mantine-color-bright);
}

[data-mantine-color-scheme="dark"] .title {
  color: var(--mantine-color-body);
}

.heroSubtitle {
  font-size: 0.95rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--mantine-color-dark-text);
}

[data-mantine-color-scheme="dark"] .heroSubtitle {
  color: var(--mantine-color-dark-3);
}
